In [ ]:
import pandas as pd

df = pd.read_csv('studentlist.csv')
# print(df)

      TT        MaSV     Lop                 Ten  Diem
0      1  1351080752    56CD     Phạm Trung Hiếu   6.5
1      2  175A071294  59-TH3       Hoàng Việt An   7.5
2      3  175A071166  59-TH1         Trần Thị An   5.0
3      4  175A071084  59-TH1       Vương Đình An   9.0
4      5  175A071247  59-TH2  Nguyễn Đắc Duy Anh   6.5
..   ...         ...     ...                 ...   ...
116  117  175A071256  59-TH2    Hoàng Thanh Tùng   2.5
117  118  175A071304  59-TH5    Nguyễn Minh Tùng   6.5
118  119  175A071301  59-TH3        Vũ Xuân Tùng   6.5
119  120  175A071207  59-TH2     Phạm Trọng Vinh   8.5
120  121  175A070015  59-TH5        Phạm Đình Vỹ   5.0

[121 rows x 5 columns]

In [6]:
print(df)

      TT        MaSV     Lop                 Ten  Diem
0      1  1351080752    56CD     Phạm Trung Hiếu   6.5
1      2  175A071294  59-TH3       Hoàng Việt An   7.5
2      3  175A071166  59-TH1         Trần Thị An   5.0
3      4  175A071084  59-TH1       Vương Đình An   9.0
4      5  175A071247  59-TH2  Nguyễn Đắc Duy Anh   6.5
..   ...         ...     ...                 ...   ...
116  117  175A071256  59-TH2    Hoàng Thanh Tùng   2.5
117  118  175A071304  59-TH5    Nguyễn Minh Tùng   6.5
118  119  175A071301  59-TH3        Vũ Xuân Tùng   6.5
119  120  175A071207  59-TH2     Phạm Trọng Vinh   8.5
120  121  175A070015  59-TH5        Phạm Đình Vỹ   5.0

[121 rows x 5 columns]

In [34]:
print(df.head(7))
print(df.tail(5))

   TT        MaSV     Lop                 Ten  Diem
0   1  1351080752    56CD     Phạm Trung Hiếu   6.5
1   2  175A071294  59-TH3       Hoàng Việt An   7.5
2   3  175A071166  59-TH1         Trần Thị An   5.0
3   4  175A071084  59-TH1       Vương Đình An   9.0
4   5  175A071247  59-TH2  Nguyễn Đắc Duy Anh   6.5
5   6  175A071249  59-TH2     Nguyễn Tuấn Anh   NaN
6   7  175A071307  59-TH5        Phan Huy Anh  10.0
      TT        MaSV     Lop               Ten  Diem
116  117  175A071256  59-TH2  Hoàng Thanh Tùng   2.5
117  118  175A071304  59-TH5  Nguyễn Minh Tùng   6.5
118  119  175A071301  59-TH3      Vũ Xuân Tùng   6.5
119  120  175A071207  59-TH2   Phạm Trọng Vinh   8.5
120  121  175A070015  59-TH5      Phạm Đình Vỹ   5.0

In [21]:
#Thống kê lớp có bao nhiêu bạn có điểm từ 8 trở lên
# count = 0
# for index, row in df.iterrows():
#     if row['Diem'] >= 8:
#         count += 1
        
count = df[df['Diem'] >= 8].count()['Diem']

# print(count.shape)

print("Số bạn có điểm từ 8 trở lên:", count)

Số bạn có điểm từ 8 trở lên: 34

In [53]:
# Thống kê lớp có bao nhiêu bạn điểm dưới 4 hoặc không có điểm
# count_low = 0
# for index, row in df.iterrows():
#     if row['Diem'] < 4 or pd.isna(row['Diem']):
#         count_low += 1

count_low = df[(df['Diem'] < 4) | (df['Diem'].isna())].shape[0]

print("Số bạn có điểm dưới 4 hoặc không có điểm:", count_low)

Số bạn có điểm dưới 4 hoặc không có điểm: 17